@keyframes humo {
  0% {
    opacity: 0;
    transform: translateX(-100px) rotate(20deg);
  }
  50% {
    opacity: 0.5;
    transform: translateX(0) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateX(100px) rotate(-20deg);
  }
}

@keyframes rotar3D {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* Contenedor de logo */
.logo-container {
  margin-top: 20px;
  perspective: 1000px; /* Para lograr el efecto 3D */
}

.logo {
  width: 150px;
  height: 150px;
  transition: transform 1s ease-in-out;
}


.developer-image {
  width: 13rem;  /* Ajusta el tamaño de la imagen según lo necesario */
  height: 16rem;  /* Ajusta el tamaño de la imagen según lo necesario */
  border-radius: 50%;  /* Esto hace que las imágenes sean circulares */
  object-fit: cover;  /* Esto asegura que la imagen no se distorsione */
  margin: 0 auto;  /* Centra la imagen dentro de su contenedor */
}